Customer Code :<input [(ngModel)]="CustomerModel.CustomerCode" type=text/><br>
Customer Name :<input [(ngModel)]="CustomerModel.CustomerName" type=text/><br>
Customer Amount :<input [(ngModel)]="CustomerModel.CustomerAmount" type=text/><br>
<input (click)="Add()" type=button value="Add"/><br>

{{CustomerModel.CustomerCode}}<br>
{{CustomerModel.CustomerName}}<br>
{{CustomerModel.CustomerAmount}}<br>

<table>
    <tr>
        <td>Customer Code</td>
        <td>Customer Name</td>
        <td>Customer Amount</td>
    </tr>
    <tr *ngFor = "let cust of CustomerModels">
        <td>{{cust.CustomerCode}}</td>
        <td>{{cust.CustomerName}}</td>
        <td>{{cust.CustomerAmount}}</td>
    </tr>

</table>