Logo
<a [routerLink]="['Home']">Home</a><br>
<a [routerLink]="['Customer']">Customer</a><br>
<a [routerLink]="['Supplier']">Supplier</a><br>
Links 
<div>
    <router-outlet></router-outlet>
</div>
CopyRight QuestPond